<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="../views/about.ejs">about</a></li>
        <li><a href="../views/create.ejs">Create Blog</a></li>
        <li><a href="../views/blog.ejs">Blog</a></li>
    </ul>
</nav>